body {
  color: #111;
  font-size: 16px;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", Verdana, Arial, '微软雅黑', '宋体';
}
a {
  text-decoration: none;
  color: #111;
}
.body-container {
  margin: 0 auto;
  max-width: 720px;
  display: flex;
  flex-direction: column;
}
.header-container {
  margin-top: 28px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
}
.header-menu-list {
  width: 100%;
}
.header-menu-list ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
.header-menu-list li:not(:last-child) {
  margin-right: 16px;
}
@media screen and (max-width: 600px) {
  .header-menu-list ul {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .header-menu-list li:not(:last-child) {
    margin-right: 0px;
  }
}
.main-container {
  display: flex;
  justify-content: center;
}
.post-list {
  width: 100%;
}
.post-item {
  width: 100%;
  text-align: left;
}
.post-item:not(:last-child) {
  margin-bottom: 12px;
}
.post-item-date {
  margin-right: 8px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 12px;
  color: #999;
  width: 100%;
}
.footer-container a {
  color: #999;
  font-weight: bold;
}
.footer-container a:hover {
  color: #777;
  text-decoration: underline;
}
.footer-meta > div:not(:last-child) {
  margin-right: 5px;
}
.post-container {
  display: flex;
  flex-direction: column;
  color: #555;
  font-size: 14px;
  width: 100%;
  inline-height: 1.5;
}
.post-container a:not(.nonstyle) {
  text-decoration: none;
  color: #4786d6;
}
.post-container a:not(.nonstyle):hover {
  color: #2f69b3;
  text-decoration: underline;
}
.post-container .post-meta-container {
  margin-bottom: 20px;
  font-size: 1em;
  color: #999;
  display: flex;
  align-items: center;
}
.post-container .post-meta-container .post-meta-item {
  margin-right: 16px;
}
.post-container .post-meta-container .post-meta-item i {
  margin-right: 8px;
}
.post-container .post-meta-container .post-meta-item a {
  color: #999;
}
.utterances {
  margin-top: 24px;
}
