.footer-container
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 20px
    font-size: 12px
    color: #999
    width: 100%
    a
        color: #777
        &:hover
            color: #555

.footer-meta > div:not(:last-child)
    margin-right: 5px
