.post-container
    display: flex
    flex-direction: column
    color: #555
    font-size: 14px
    width: 100%
    inline-height: 1.5
    a:not(.nonstyle)
        text-decoration: none
        color: #4786d6
        &:hover
            color: #2f69b3
            text-decoration: underline;
    .post-meta-container
        margin-bottom: 20px
        font-size: 1em
        color: #999
        display: flex;
        align-items: center
        .post-meta-item
            margin-right: 16px;
            i
                margin-right: 8px;
            a
                color: #999
