.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 12px;
  color: #999;
  width: 100%;
}
.footer-container a {
  color: #999;
  font-weight: bold;
}
.footer-container a:hover {
  color: #777;
  text-decoration: underline;
}
.footer-meta > div:not(:last-child) {
  margin-right: 5px;
}
