.main-container {
  display: flex;
  justify-content: center;
}
.post-list {
  width: 100%;
}
.post-item {
  width: 100%;
  text-align: left;
}
.post-item:not(:last-child) {
  margin-bottom: 12px;
}
.post-item-date {
  margin-right: 8px;
}
