.post-container {
  display: flex;
  flex-direction: column;
  color: #555;
  font-size: 16px;
  width: 100%;
  inline-height: 1.5;
}
.post-container a:not(.nonstyle) {
  text-decoration: none;
  color: #4786d6;
}
.post-container a:not(.nonstyle):hover {
  color: #2f69b3;
}
.post-container .post-meta-container {
  margin-bottom: 20px;
  font-size: 16px;
  color: #999;
  display: flex;
  align-items: center;
}
.post-container .post-meta-container .post-meta-item {
  margin-right: 16px;
}
.post-container .post-meta-container .post-meta-item i {
  margin-right: 12px;
}
