<footer>
    <div class="footer-container">
        <% if (theme.author) { %>
            <div class="footer-meta-author">
                Based on <a href="https://hexo.io">Hexo</a> developed with ❤️ by 
                <a href="<%- theme.author.url %>"><%= theme.author.name || config.author %></a>.
            </div>
        <% } %>
        <% if (theme.license) { %>
            <div class="footer-meta-licenese">
                Licensed under <a href="<%- url_for(theme.license.url) %>"><%= theme.license.name %></a>.
            </div>
        <% } %>
    </div>
</footer>
