<footer>
    <div class="footer-container">
        <% if (theme.copyright) { %>
            <div class="footer-meta-copyright">
                Based on <a href="https://hexo.io">Hexo</a> development with ❤️ by <%= theme.copyright.name || config.author %>.
            </div>
        <% } %>
        <% if (theme.license) { %>
            <div class="footer-meta-licenese">
                Licensed under <a href="<%- url_for(theme.license.url) %>"><%= theme.license.name %></a>.
            </div>
        <% } %>
    </div>
</footer>
