<header>
    <div class="header-container">
        <div class="header-menu-list">
            <ul>
            <% for (let name in theme.menu) { %>
                <li>
                    <a href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
                </li>
            <% } %>
            <% if (theme.rss) { %>
                <li>
                    <a href="<%- url_for(theme.rss.path) %>"><i class="fa-solid fa-rss"></i></a>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</header>
